In [1]:
import pandas as pd
import geopandas as gpd

In [9]:
his_servicio_01_path = '/media/cristian/Alpha/3_PROYECTOS/HACKATONS/TAXIS LIBRES/HIS_SERVICIO_01.csv'
his_servicio_01_df = pd.read_csv(his_servicio_01_path)
his_servicio_01_df

/home/cristian/Documents/predyctiva/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (18,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ID,AGENTE,AUTOMOVILASIGNADO_ID,CADUCIDADASIGNACIONSERVICIO,CALIFICACIONCONDUCTORASIGNADO,CALIFICACION_USUARIO,CONDUCTORASIGNADO_ID,CONDUCTORESPOSTULADOS,COSTO,DELTACADUCIDADASIGNACION,...,RUTA,CONDUCTOR_CERCANO,RECORRIDO_METROS,DISTANCIA,RECORRIDO_DISTANCIA,CALC_TARIFA,PRELIQUIDACION,TIEMPO,NUMERO_PASAJEROS,COSTO_INTERRUMPIDO
0,45691435,NaN,NaN,180,NaN,NaN,NaN,NaN,16500.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,45691436,NaN,NaN,90,NaN,NaN,NaN,NaN,NaN,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,45691437,NaN,NaN,180,NaN,NaN,NaN,NaN,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,45691438,NaN,NaN,180,NaN,NaN,NaN,NaN,18100.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45691439,NaN,NaN,180,NaN,NaN,NaN,NaN,7500.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844562,46535999,NaN,107879.0,90,NaN,NaN,158565542297285792177,NaN,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844563,46536000,NaN,159745.0,90,NaN,NaN,109784564098678426329,NaN,8000.0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844564,46536001,NaN,122976.0,90,NaN,NaN,150886764624619300961,NaN,8000.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844565,46536002,NaN,NaN,180,NaN,NaN,NaN,NaN,9300.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844566,46536003,NaN,107722.0,90,NaN,NaN,158557155167382177948,NaN,6100.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
his_servicio_02_path = '/media/cristian/Alpha/3_PROYECTOS/HACKATONS/TAXIS LIBRES/HIS_SERVICIO_02.csv'
his_servicio_02_df = pd.read_csv(his_servicio_02_path)
his_servicio_02_df

,ID,AGENTE,AUTOMOVILASIGNADO_ID,CADUCIDADASIGNACIONSERVICIO,CALIFICACIONCONDUCTORASIGNADO,CALIFICACION_USUARIO,CONDUCTORASIGNADO_ID,CONDUCTORESPOSTULADOS,COSTO,DELTACADUCIDADASIGNACION,...,RUTA,CONDUCTOR_CERCANO,RECORRIDO_METROS,DISTANCIA,RECORRIDO_DISTANCIA,CALC_TARIFA,PRELIQUIDACION,TIEMPO,NUMERO_PASAJEROS,COSTO_INTERRUMPIDO
0,46536004,NaN,126004.0,180,NaN,NaN,152995853476131979299,NaN,18700.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46536005,NaN,109328.0,180,5.0,NaN,152778840107114456451,NaN,10700.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46536006,NaN,174742.0,180,NaN,NaN,150298202821157564306,NaN,17300.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46536007,NaN,126044.0,90,NaN,NaN,156236127913789511518,NaN,7000.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46536008,NaN,121550.0,180,NaN,NaN,161814861742154325121,NaN,5200.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663240,47199244,NaN,170666.0,180,4.0,NaN,158843485811372519115,NaN,7000.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663241,47199245,NaN,143876.0,180,5.0,NaN,157385187572457636791,NaN,15400.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663242,47199246,354.0,118549.0,90,NaN,NaN,112840669965564937841,NaN,8500.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663243,47199247,NaN,133451.0,180,NaN,NaN,149264073178930815567,NaN,11800.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663244,47199248,NaN,74735.0,90,NaN,NaN,14795611201035399,NaN,8000.0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
his_servicio_03_path = '/media/cristian/Alpha/3_PROYECTOS/HACKATONS/TAXIS LIBRES/HIS_SERVICIO_03.csv'
his_servicio_03_df = pd.read_csv(his_servicio_03_path)
his_servicio_03_df

/home/cristian/Documents/predyctiva/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ID,AGENTE,AUTOMOVILASIGNADO_ID,CADUCIDADASIGNACIONSERVICIO,CALIFICACIONCONDUCTORASIGNADO,CALIFICACION_USUARIO,CONDUCTORASIGNADO_ID,CONDUCTORESPOSTULADOS,COSTO,DELTACADUCIDADASIGNACION,...,RUTA,CONDUCTOR_CERCANO,RECORRIDO_METROS,DISTANCIA,RECORRIDO_DISTANCIA,CALC_TARIFA,PRELIQUIDACION,TIEMPO,NUMERO_PASAJEROS,COSTO_INTERRUMPIDO
0,47199249,NaN,NaN,180,NaN,NaN,NaN,NaN,6400.0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,47199250,NaN,123811.0,180,4.0,NaN,104990555751935294541,NaN,17800.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,47199251,NaN,108687.0,180,5.0,NaN,158626953653485271252,NaN,21300.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,47199252,NaN,NaN,180,NaN,NaN,NaN,NaN,7100.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,47199253,NaN,NaN,90,NaN,NaN,NaN,NaN,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968427,48167676,NaN,NaN,90,NaN,NaN,NaN,NaN,NaN,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
968428,48167677,NaN,NaN,180,NaN,NaN,NaN,NaN,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
968429,48167678,NaN,120585.0,180,NaN,NaN,158814119639379643294,NaN,14700.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
968430,48167679,NaN,NaN,180,NaN,NaN,NaN,NaN,0.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
968431,48167680,NaN,175997.0,180,4.0,NaN,161661553938777584212,NaN,18400.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
his_servicio_04_path = '/media/cristian/Alpha/3_PROYECTOS/HACKATONS/TAXIS LIBRES/HIS_SERVICIO_04.csv'
his_servicio_04_df = pd.read_csv(his_servicio_04_path)
his_servicio_04_df

,ID,AGENTE,AUTOMOVILASIGNADO_ID,CADUCIDADASIGNACIONSERVICIO,CALIFICACIONCONDUCTORASIGNADO,CALIFICACION_USUARIO,CONDUCTORASIGNADO_ID,CONDUCTORESPOSTULADOS,COSTO,DELTACADUCIDADASIGNACION,...,RUTA,CONDUCTOR_CERCANO,RECORRIDO_METROS,DISTANCIA,RECORRIDO_DISTANCIA,CALC_TARIFA,PRELIQUIDACION,TIEMPO,NUMERO_PASAJEROS,COSTO_INTERRUMPIDO
0,48167681,NaN,135018.0,90,NaN,NaN,153581868757140889910,NaN,11400.0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48167682,NaN,106826.0,90,NaN,NaN,115066909299399545654,NaN,7500.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,48167683,NaN,171219.0,180,NaN,NaN,152537094174747231381,NaN,10200.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,48167684,NaN,NaN,180,NaN,NaN,NaN,NaN,10600.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,48167685,NaN,NaN,180,NaN,NaN,NaN,NaN,14000.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987607,49155288,NaN,162520.0,90,NaN,NaN,149407719109191076555,NaN,18000.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987608,49155289,NaN,NaN,180,NaN,NaN,NaN,NaN,18600.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987609,49155290,NaN,NaN,180,NaN,NaN,NaN,NaN,13900.0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987610,49155291,NaN,NaN,180,NaN,NaN,NaN,NaN,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987611,49155292,NaN,NaN,90,NaN,NaN,NaN,NaN,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
top_persona_path = '/media/cristian/Alpha/3_PROYECTOS/HACKATONS/TAXIS LIBRES/top_persona.csv'
top_persona_df = pd.read_csv(top_persona_path)
top_persona_df

,id_persona,niv_escolaridad,per_fechanaci,per_sexo,est_idestaper,per_fecafilia
0,100000302713725000000,SECUNDARIA,1989-09-21,MASCULINO,SOLTERO,2021-02-08 12:24:23
1,100005439342914000000,SECUNDARIA,1985-06-02,MASCULINO,SOLTERO,2014-12-30 00:00:00
2,100012975567262000000,SECUNDARIA,1900-01-01,NaN,NaN,2012-11-27 00:00:00
3,100027951170637000000,SECUNDARIA,1983-04-07,MASCULINO,UNION LIBRE,2016-03-08 16:17:37
4,100039912992801000000,SECUNDARIA,1974-12-11,MASCULINO,CASADO,2008-02-02 00:00:00
...,...,...,...,...,...,...
15023,879433764434563000000,SECUNDARIA,1971-03-03,MASCULINO,CASADO,2013-06-26 00:00:00
15024,897515644434569000000,SECUNDARIA,1969-05-16,MASCULINO,CASADO,2009-09-15 00:00:00
15025,900472224432770000000,SECUNDARIA,1972-04-22,MASCULINO,CASADO,2007-08-06 00:00:00
15026,930334754432779000000,SECUNDARIA,1989-03-10,MASCULINO,UNION LIBRE,2017-08-27 16:06:26
15027,949870604434584000000,SECUNDARIA,1984-03-19,NaN,CASADO,2014-06-25 00:00:00

In [37]:
list(his_servicio_01_df.columns)

['ID',
 'AGENTE',
 'AUTOMOVILASIGNADO_ID',
 'CADUCIDADASIGNACIONSERVICIO',
 'CALIFICACIONCONDUCTORASIGNADO',
 'CALIFICACION_USUARIO',
 'CONDUCTORASIGNADO_ID',
 'CONDUCTORESPOSTULADOS',
 'COSTO',
 'DELTACADUCIDADASIGNACION',
 'DIRECCIONCOMPLEMENTARIA',
 'DIRECCIONDESTINO',
 'DIRECCIONPRINCIPAL',
 'ESTADO',
 'FECHA',
 'FECHALEGIBLE',
 'HORALANZAMIENTO',
 'IDCIUDAD',
 'IDLLAMADA',
 'IDSERVICIO',
 'INDICACIONES',
 'LATITUD',
 'LATITUDDESTINO',
 'LONGITUD',
 'LONGITUDDESTINO',
 'MEDIOPAGO',
 'NUMEROVALE',
 'ORIGEN',
 'PLACAAUTOMOVILASIGNADO',
 'PROMEDIOCONDUCTORASIGNADO',
 'PROPINA',
 'TAMANOVEHICULO',
 'TIPOASIGNACION',
 'TIPOSERVICIO',
 'USAPLANILLA',
 'USUARIO',
 'USUARIOAPLICACION_ID',
 'USUARIOTELEFONICO_ID',
 'IDCONDUCTORASIGNADO',
 'PAGOEXITOSO',
 'MOTIVORECHAZO',
 'DIRECCIONMOSTRAR',
 'DESCPAGO',
 'BARRIOORIGEN',
 'NUMEROCARROS',
 'ANTERIOR',
 'RUTA',
 'CONDUCTOR_CERCANO',
 'RECORRIDO_METROS',
 'DISTANCIA',
 'RECORRIDO_DISTANCIA',
 'CALC_TARIFA',
 'PRELIQUIDACION',
 'TIEMPO',
 'NUMERO_PASAJEROS',
 'COSTO_INTERRUMPIDO']

In [26]:
len(his_servicio_01_df.columns)

56

In [36]:
list(his_servicio_02_df.columns)

['ID',
 'AGENTE',
 'AUTOMOVILASIGNADO_ID',
 'CADUCIDADASIGNACIONSERVICIO',
 'CALIFICACIONCONDUCTORASIGNADO',
 'CALIFICACION_USUARIO',
 'CONDUCTORASIGNADO_ID',
 'CONDUCTORESPOSTULADOS',
 'COSTO',
 'DELTACADUCIDADASIGNACION',
 'DIRECCIONCOMPLEMENTARIA',
 'DIRECCIONDESTINO',
 'ESTADO',
 'FECHA',
 'FECHALEGIBLE',
 'HORALANZAMIENTO',
 'IDCIUDAD',
 'IDLLAMADA',
 'IDSERVICIO',
 'INDICACIONES',
 'LATITUD',
 'LATITUDDESTINO',
 'LONGITUD',
 'LONGITUDDESTINO',
 'MEDIOPAGO',
 'NUMEROVALE',
 'ORIGEN',
 'PLACAAUTOMOVILASIGNADO',
 'PROMEDIOCONDUCTORASIGNADO',
 'PROPINA',
 'TAMANOVEHICULO',
 'TIPOASIGNACION',
 'TIPOSERVICIO',
 'USAPLANILLA',
 'USUARIO',
 'USUARIOAPLICACION_ID',
 'USUARIOTELEFONICO_ID',
 'IDCONDUCTORASIGNADO',
 'DESCPAGO',
 'BARRIOORIGEN',
 'NUMEROCARROS',
 'ANTERIOR',
 'RUTA',
 'CONDUCTOR_CERCANO',
 'RECORRIDO_METROS',
 'DISTANCIA',
 'RECORRIDO_DISTANCIA',
 'CALC_TARIFA',
 'PRELIQUIDACION',
 'TIEMPO',
 'NUMERO_PASAJEROS',
 'COSTO_INTERRUMPIDO']

In [25]:
len(his_servicio_02_df.columns)

52

In [35]:
list(his_servicio_03_df.columns)

['ID',
 'AGENTE',
 'AUTOMOVILASIGNADO_ID',
 'CADUCIDADASIGNACIONSERVICIO',
 'CALIFICACIONCONDUCTORASIGNADO',
 'CALIFICACION_USUARIO',
 'CONDUCTORASIGNADO_ID',
 'CONDUCTORESPOSTULADOS',
 'COSTO',
 'DELTACADUCIDADASIGNACION',
 'DIRECCIONCOMPLEMENTARIA',
 'DIRECCIONDESTINO',
 'DIRECCIONPRINCIPAL',
 'ESTADO',
 'FECHA',
 'FECHALEGIBLE',
 'HORALANZAMIENTO',
 'IDCIUDAD',
 'IDLLAMADA',
 'IDSERVICIO',
 'INDICACIONES',
 'LATITUD',
 'LATITUDDESTINO',
 'LONGITUD',
 'LONGITUDDESTINO',
 'MEDIOPAGO',
 'NUMEROVALE',
 'ORIGEN',
 'PLACAAUTOMOVILASIGNADO',
 'PROMEDIOCONDUCTORASIGNADO',
 'PROPINA',
 'TAMANOVEHICULO',
 'TIPOASIGNACION',
 'TIPOSERVICIO',
 'USAPLANILLA',
 'USUARIO',
 'USUARIOAPLICACION_ID',
 'USUARIOTELEFONICO_ID',
 'IDCONDUCTORASIGNADO',
 'DESCPAGO',
 'BARRIOORIGEN',
 'NUMEROCARROS',
 'ANTERIOR',
 'RUTA',
 'CONDUCTOR_CERCANO',
 'RECORRIDO_METROS',
 'DISTANCIA',
 'RECORRIDO_DISTANCIA',
 'CALC_TARIFA',
 'PRELIQUIDACION',
 'TIEMPO',
 'NUMERO_PASAJEROS',
 'COSTO_INTERRUMPIDO']

In [24]:
len(his_servicio_03_df.columns)

53

In [38]:
list(his_servicio_04_df.columns)

['ID',
 'AGENTE',
 'AUTOMOVILASIGNADO_ID',
 'CADUCIDADASIGNACIONSERVICIO',
 'CALIFICACIONCONDUCTORASIGNADO',
 'CALIFICACION_USUARIO',
 'CONDUCTORASIGNADO_ID',
 'CONDUCTORESPOSTULADOS',
 'COSTO',
 'DELTACADUCIDADASIGNACION',
 'DIRECCIONCOMPLEMENTARIA',
 'DIRECCIONDESTINO',
 'DIRECCIONPRINCIPAL',
 'ESTADO',
 'FECHA',
 'FECHALEGIBLE',
 'HORALANZAMIENTO',
 'IDCIUDAD',
 'IDLLAMADA',
 'IDSERVICIO',
 'INDICACIONES',
 'LATITUD',
 'LATITUDDESTINO',
 'LONGITUD',
 'LONGITUDDESTINO',
 'MEDIOPAGO',
 'NUMEROVALE',
 'ORIGEN',
 'PLACAAUTOMOVILASIGNADO',
 'PROMEDIOCONDUCTORASIGNADO',
 'PROPINA',
 'TAMANOVEHICULO',
 'TIPOASIGNACION',
 'TIPOSERVICIO',
 'USAPLANILLA',
 'USUARIO',
 'USUARIOAPLICACION_ID',
 'USUARIOTELEFONICO_ID',
 'IDCONDUCTORASIGNADO',
 'DESCPAGO',
 'BARRIOORIGEN',
 'NUMEROCARROS',
 'ANTERIOR',
 'RUTA',
 'CONDUCTOR_CERCANO',
 'RECORRIDO_METROS',
 'DISTANCIA',
 'RECORRIDO_DISTANCIA',
 'CALC_TARIFA',
 'PRELIQUIDACION',
 'TIEMPO',
 'NUMERO_PASAJEROS',
 'COSTO_INTERRUMPIDO']

In [27]:
len(his_servicio_04_df.columns)

53

In [40]:
list(set(list(his_servicio_01_df.columns)).difference(set(list(his_servicio_02_df.columns))))

['DIRECCIONMOSTRAR', 'DIRECCIONPRINCIPAL', 'PAGOEXITOSO', 'MOTIVORECHAZO']

In [41]:
list(set(list(his_servicio_01_df.columns)).difference(set(list(his_servicio_03_df.columns))))

['DIRECCIONMOSTRAR', 'PAGOEXITOSO', 'MOTIVORECHAZO']

In [42]:
list(set(list(his_servicio_01_df.columns)).difference(set(list(his_servicio_04_df.columns))))

['DIRECCIONMOSTRAR', 'PAGOEXITOSO', 'MOTIVORECHAZO']

In [48]:
his_servicio_df = pd.DataFrame()
his_servicio_df = his_servicio_01_df.append(his_servicio_02_df, ignore_index=True)
his_servicio_df = his_servicio_df.append(his_servicio_03_df, ignore_index=True)
his_servicio_df = his_servicio_df.append(his_servicio_04_df, ignore_index=True)

In [49]:
his_servicio_df

,ID,AGENTE,AUTOMOVILASIGNADO_ID,CADUCIDADASIGNACIONSERVICIO,CALIFICACIONCONDUCTORASIGNADO,CALIFICACION_USUARIO,CONDUCTORASIGNADO_ID,CONDUCTORESPOSTULADOS,COSTO,DELTACADUCIDADASIGNACION,...,RUTA,CONDUCTOR_CERCANO,RECORRIDO_METROS,DISTANCIA,RECORRIDO_DISTANCIA,CALC_TARIFA,PRELIQUIDACION,TIEMPO,NUMERO_PASAJEROS,COSTO_INTERRUMPIDO
0,45691435,NaN,NaN,180,NaN,NaN,NaN,NaN,16500.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,45691436,NaN,NaN,90,NaN,NaN,NaN,NaN,NaN,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,45691437,NaN,NaN,180,NaN,NaN,NaN,NaN,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,45691438,NaN,NaN,180,NaN,NaN,NaN,NaN,18100.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45691439,NaN,NaN,180,NaN,NaN,NaN,NaN,7500.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3463851,49155288,NaN,162520.0,90,NaN,NaN,149407719109191076555,NaN,18000.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3463852,49155289,NaN,NaN,180,NaN,NaN,NaN,NaN,18600.0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3463853,49155290,NaN,NaN,180,NaN,NaN,NaN,NaN,13900.0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3463854,49155291,NaN,NaN,180,NaN,NaN,NaN,NaN,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3463855,49155292,NaN,NaN,90,NaN,NaN,NaN,NaN,NaN,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
list(his_servicio_df.columns)

['ID',
 'AGENTE',
 'AUTOMOVILASIGNADO_ID',
 'CADUCIDADASIGNACIONSERVICIO',
 'CALIFICACIONCONDUCTORASIGNADO',
 'CALIFICACION_USUARIO',
 'CONDUCTORASIGNADO_ID',
 'CONDUCTORESPOSTULADOS',
 'COSTO',
 'DELTACADUCIDADASIGNACION',
 'DIRECCIONCOMPLEMENTARIA',
 'DIRECCIONDESTINO',
 'DIRECCIONPRINCIPAL',
 'ESTADO',
 'FECHA',
 'FECHALEGIBLE',
 'HORALANZAMIENTO',
 'IDCIUDAD',
 'IDLLAMADA',
 'IDSERVICIO',
 'INDICACIONES',
 'LATITUD',
 'LATITUDDESTINO',
 'LONGITUD',
 'LONGITUDDESTINO',
 'MEDIOPAGO',
 'NUMEROVALE',
 'ORIGEN',
 'PLACAAUTOMOVILASIGNADO',
 'PROMEDIOCONDUCTORASIGNADO',
 'PROPINA',
 'TAMANOVEHICULO',
 'TIPOASIGNACION',
 'TIPOSERVICIO',
 'USAPLANILLA',
 'USUARIO',
 'USUARIOAPLICACION_ID',
 'USUARIOTELEFONICO_ID',
 'IDCONDUCTORASIGNADO',
 'PAGOEXITOSO',
 'MOTIVORECHAZO',
 'DIRECCIONMOSTRAR',
 'DESCPAGO',
 'BARRIOORIGEN',
 'NUMEROCARROS',
 'ANTERIOR',
 'RUTA',
 'CONDUCTOR_CERCANO',
 'RECORRIDO_METROS',
 'DISTANCIA',
 'RECORRIDO_DISTANCIA',
 'CALC_TARIFA',
 'PRELIQUIDACION',
 'TIEMPO',
 'NUMERO_PASAJEROS',
 'COSTO_INTERRUMPIDO']

In [60]:
for column in list(his_servicio_df.columns):
    print('*'*30)
    print(column)
    print('-'*30)
    print(his_servicio_df[column].describe())
    
    print('*'*30)

******************************
ID
------------------------------
count    3.463856e+06
mean     4.742336e+07
std      9.999297e+05
min      4.569144e+07
25%      4.655740e+07
50%      4.742336e+07
75%      4.828933e+07
max      4.915529e+07
Name: ID, dtype: float64
******************************
******************************
AGENTE
------------------------------
count    173708.000000
mean        387.831010
std         181.011602
min           0.000000
25%         174.000000
50%         395.000000
75%         545.000000
max         673.000000
Name: AGENTE, dtype: float64
******************************
******************************
AUTOMOVILASIGNADO_ID
------------------------------
count    2.581739e+06
mean     1.361874e+05
std      3.580726e+04
min      1.500000e+01
25%      1.210110e+05
50%      1.425530e+05
75%      1.626860e+05
max      1.764130e+05
Name: AUTOMOVILASIGNADO_ID, dtype: float64
******************************
******************************
CADUCIDADASIGNACIONSERVICIO
------------------------------
count    3.463856e+06
mean     1.487733e+02
std      4.362128e+01
min      2.000000e+01
25%      9.000000e+01
50%      1.800000e+02
75%      1.800000e+02
max      1.800000e+02
Name: CADUCIDADASIGNACIONSERVICIO, dtype: float64
******************************
******************************
CALIFICACIONCONDUCTORASIGNADO
------------------------------
count    753667.000000
mean          4.625962
std           0.850369
min           0.000000
25%           4.000000
50%           5.000000
75%           5.000000
max          18.000000
Name: CALIFICACIONCONDUCTORASIGNADO, dtype: float64
******************************
******************************
CALIFICACION_USUARIO
------------------------------
count    30592.000000
mean         4.950085
std          0.379201
min          1.000000
25%          5.000000
50%          5.000000
75%          5.000000
max          5.000000
Name: CALIFICACION_USUARIO, dtype: float64
******************************
******************************
CONDUCTORASIGNADO_ID
------------------------------
count                   2581739
unique                    23759
top       148820106784723202218
freq                       1149
Name: CONDUCTORASIGNADO_ID, dtype: object
******************************
******************************
CONDUCTORESPOSTULADOS
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: CONDUCTORESPOSTULADOS, dtype: float64
******************************
******************************
COSTO
------------------------------
count    2.872836e+06
mean     1.238568e+04
std      2.015503e+04
min      0.000000e+00
25%      7.200000e+03
50%      1.060000e+04
75%      1.550000e+04
max      1.314980e+07
Name: COSTO, dtype: float64
******************************
******************************
DELTACADUCIDADASIGNACION
------------------------------
count    3.463856e+06
mean     5.612402e+01
std      9.730409e+00
min      2.000000e+01
25%      6.000000e+01
50%      6.000000e+01
75%      6.000000e+01
max      6.000000e+01
Name: DELTACADUCIDADASIGNACION, dtype: float64
******************************
******************************
DIRECCIONCOMPLEMENTARIA
------------------------------
count     314231
unique     15298
top         CASA
freq        8357
Name: DIRECCIONCOMPLEMENTARIA, dtype: object
******************************
******************************
DIRECCIONDESTINO
------------------------------
count     2994483
unique     421229
top             A
freq        22925
Name: DIRECCIONDESTINO, dtype: object
******************************
******************************
DIRECCIONPRINCIPAL
------------------------------
count         2800174
unique         734695
top       grpc failed
freq             3372
Name: DIRECCIONPRINCIPAL, dtype: object
******************************
******************************
ESTADO
------------------------------
count      3463856
unique          12
top       CUMPLIDO
freq       1846928
Name: ESTADO, dtype: object
******************************
******************************
FECHA
------------------------------
count    3.463856e+06
mean     1.614956e+12
std      3.121654e+09
min      1.609459e+12
25%      1.612215e+12
50%      1.615205e+12
75%      1.617711e+12
max      1.619827e+12
Name: FECHA, dtype: float64
******************************
******************************
FECHALEGIBLE
------------------------------
count                 3463856
unique                2689298
top       2021-04-19 18:29:11
freq                       29
Name: FECHALEGIBLE, dtype: object
******************************
******************************
HORALANZAMIENTO
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: HORALANZAMIENTO, dtype: float64
******************************
******************************
IDCIUDAD
------------------------------
count    3.463856e+06
mean     2.009331e+04
std      2.245319e+04
min      5.500000e+01
25%      1.100100e+04
50%      1.100100e+04
75%      1.100100e+04
max      7.689200e+04
Name: IDCIUDAD, dtype: float64
******************************
******************************
IDLLAMADA
------------------------------
count               775028
unique              578671
top       Sip/Cali_4444444
freq                196264
Name: IDLLAMADA, dtype: object
******************************
******************************
IDSERVICIO
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: IDSERVICIO, dtype: float64
******************************
******************************
INDICACIONES
------------------------------
count     594647
unique     66429
top         CASA
freq      168578
Name: INDICACIONES, dtype: object
******************************
******************************
LATITUD
------------------------------
count    3.463856e+06
mean     1.458263e+01
std      3.028652e+03
min     -2.598665e+04
25%      4.588890e+00
50%      4.641083e+00
75%      4.693037e+00
max      1.015552e+06
Name: LATITUD, dtype: float64
******************************
******************************
LATITUDDESTINO
------------------------------
count    2.979322e+06
mean     4.817376e+00
std      5.039373e+02
min     -7.525097e+01
25%      4.588506e+00
50%      4.639037e+00
75%      4.692778e+00
max      8.698358e+05
Name: LATITUDDESTINO, dtype: float64
******************************
******************************
LONGITUD
------------------------------
count    3.463856e+06
mean    -6.436452e+01
std      3.020255e+03
min     -7.653200e+04
25%     -7.415210e+01
50%     -7.410758e+01
75%     -7.406979e+01
max      1.059644e+06
Name: LONGITUD, dtype: float64
******************************
******************************
LONGITUDDESTINO
------------------------------
count    2.979322e+06
mean    -7.400439e+01
std      6.139504e+02
min     -1.687340e+02
25%     -7.415068e+01
50%     -7.410982e+01
75%     -7.407345e+01
max      1.059644e+06
Name: LONGITUDDESTINO, dtype: float64
******************************
******************************
MEDIOPAGO
------------------------------
count      3463856
unique           4
top       EFECTIVO
freq       3191875
Name: MEDIOPAGO, dtype: object
******************************
******************************
NUMEROVALE
------------------------------
count     270961.0
unique    135061.0
top            0.0
freq       53462.0
Name: NUMEROVALE, dtype: float64
******************************
******************************
ORIGEN
------------------------------
count     3463856
unique         19
top           APP
freq      2302534
Name: ORIGEN, dtype: object
******************************
******************************
PLACAAUTOMOVILASIGNADO
------------------------------
count     2561671
unique      24194
top        VEM300
freq         1137
Name: PLACAAUTOMOVILASIGNADO, dtype: object
******************************
******************************
PROMEDIOCONDUCTORASIGNADO
------------------------------
count    1.844899e+06
mean     4.653974e+00
std      3.135564e-01
min      4.000000e+00
25%      4.500000e+00
50%      4.750000e+00
75%      4.888889e+00
max      5.000000e+00
Name: PROMEDIOCONDUCTORASIGNADO, dtype: float64
******************************
******************************
PROPINA
------------------------------
count    2.382645e+06
mean     1.512528e+02
std      8.825537e+02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.000000e+04
Name: PROPINA, dtype: float64
******************************
******************************
TAMANOVEHICULO
------------------------------
count     3459998
unique          3
top        NORMAL
freq      3459918
Name: TAMANOVEHICULO, dtype: object
******************************
******************************
TIPOASIGNACION
------------------------------
count              3463856
unique                   4
top       TIEMPO_DISTANCIA
freq               2263561
Name: TIPOASIGNACION, dtype: object
******************************
******************************
TIPOSERVICIO
------------------------------
count     3289217
unique          6
top        NORMAL
freq      3236170
Name: TIPOSERVICIO, dtype: object
******************************
******************************
USAPLANILLA
------------------------------
count    3463856.0
mean           0.0
std            0.0
min            0.0
25%            0.0
50%            0.0
75%            0.0
max            0.0
Name: USAPLANILLA, dtype: float64
******************************
******************************
USUARIO
------------------------------
count    3.462190e+06
mean     1.190882e+07
std      6.444038e+07
min      1.000000e+00
25%      7.846138e+06
50%      8.701489e+06
75%      9.230691e+06
max      1.234188e+09
Name: USUARIO, dtype: float64
******************************
******************************
USUARIOAPLICACION_ID
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: USUARIOAPLICACION_ID, dtype: float64
******************************
******************************
USUARIOTELEFONICO_ID
------------------------------
count    7.714400e+05
mean     4.998610e+06
std      2.675624e+06
min      2.450000e+02
25%      3.513864e+06
50%      4.319817e+06
75%      7.960956e+06
max      9.564041e+06
Name: USUARIOTELEFONICO_ID, dtype: float64
******************************
******************************
IDCONDUCTORASIGNADO
------------------------------
count                   2581739
unique                    23759
top       148820106784723202218
freq                       1149
Name: IDCONDUCTORASIGNADO, dtype: object
******************************
******************************
PAGOEXITOSO
------------------------------
count     32926
unique        2
top        True
freq      31837
Name: PAGOEXITOSO, dtype: object
******************************
******************************
MOTIVORECHAZO
------------------------------
count                                 182237
unique                                    77
top       USU|AppUsuario|Antes de asignacion
freq                                   40570
Name: MOTIVORECHAZO, dtype: object
******************************
******************************
DIRECCIONMOSTRAR
------------------------------
count            839535
unique           136584
top        grpc failed
freq               2159
Name: DIRECCIONMOSTRAR, dtype: object
******************************
******************************
DESCPAGO
------------------------------
count                                 1851709
unique                                   5003
top       Pago definido/preliquidado por 5000
freq                                    97514
Name: DESCPAGO, dtype: object
******************************
******************************
BARRIOORIGEN
------------------------------
count        3459633
unique         26943
top       SIN BARRIO
freq           61384
Name: BARRIOORIGEN, dtype: object
******************************
******************************
NUMEROCARROS
------------------------------
count    31.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: NUMEROCARROS, dtype: float64
******************************
******************************
ANTERIOR
------------------------------
count    3.000000e+00
mean     4.649507e+07
std      2.578417e+05
min      4.634616e+07
25%      4.634621e+07
50%      4.634625e+07
75%      4.656953e+07
max      4.679280e+07
Name: ANTERIOR, dtype: float64
******************************
******************************
RUTA
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: RUTA, dtype: float64
******************************
******************************
CONDUCTOR_CERCANO
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: CONDUCTOR_CERCANO, dtype: float64
******************************
******************************
RECORRIDO_METROS
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: RECORRIDO_METROS, dtype: float64
******************************
******************************
DISTANCIA
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DISTANCIA, dtype: float64
******************************
******************************
RECORRIDO_DISTANCIA
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: RECORRIDO_DISTANCIA, dtype: float64
******************************
******************************
CALC_TARIFA
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: CALC_TARIFA, dtype: float64
******************************
******************************
PRELIQUIDACION
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: PRELIQUIDACION, dtype: float64
******************************
******************************
TIEMPO
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: TIEMPO, dtype: float64
******************************
******************************
NUMERO_PASAJEROS
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: NUMERO_PASAJEROS, dtype: float64
******************************
******************************
COSTO_INTERRUMPIDO
------------------------------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: COSTO_INTERRUMPIDO, dtype: float64
******************************

In [62]:
his_servicio_df = his_servicio_df.drop(['CONDUCTORESPOSTULADOS','HORALANZAMIENTO','IDSERVICIO','USAPLANILLA','USUARIOAPLICACION_ID','NUMEROCARROS','ANTERIOR','RUTA','CONDUCTOR_CERCANO','RECORRIDO_METROS','DISTANCIA','RECORRIDO_DISTANCIA','CALC_TARIFA','PRELIQUIDACION','TIEMPO','NUMERO_PASAJEROS','COSTO_INTERRUMPIDO'], axis = 1)

In [63]:
his_servicio_df

,ID,AGENTE,AUTOMOVILASIGNADO_ID,CADUCIDADASIGNACIONSERVICIO,CALIFICACIONCONDUCTORASIGNADO,CALIFICACION_USUARIO,CONDUCTORASIGNADO_ID,COSTO,DELTACADUCIDADASIGNACION,DIRECCIONCOMPLEMENTARIA,...,TIPOASIGNACION,TIPOSERVICIO,USUARIO,USUARIOTELEFONICO_ID,IDCONDUCTORASIGNADO,PAGOEXITOSO,MOTIVORECHAZO,DIRECCIONMOSTRAR,DESCPAGO,BARRIOORIGEN
0,45691435,NaN,NaN,180,NaN,NaN,NaN,16500.0,60,NaN,...,TIEMPO_RUTA,NORMAL,8272274.0,NaN,NaN,NaN,NaN,kr 30 # 30 sur - impar,NaN,SAN JORGE CENTRAL
1,45691436,NaN,NaN,90,NaN,NaN,NaN,NaN,32,LOS ANDES,...,TIEMPO_RUTA,NORMAL,4418953.0,4418953.0,NaN,NaN,NaN,cl 59 c # 2 - impar,NaN,LOS ANDES B - LA RIVIERA
2,45691437,NaN,NaN,180,NaN,NaN,NaN,NaN,60,NaN,...,TIEMPO_RUTA,NORMAL,9030055.0,NaN,NaN,NaN,USU|AppUsuario|Antes de asignacion,cl 69 sur # 20 d - par,NaN,JUAN JOSE RONDON
3,45691438,NaN,NaN,180,NaN,NaN,NaN,18100.0,60,NaN,...,TIEMPO_RUTA,NORMAL,9194488.0,NaN,NaN,NaN,USU|AppUsuario|Ya no necesito el Taxi,cl 18 # 99 - par,NaN,CENTRO FONTIBON
4,45691439,NaN,NaN,180,NaN,NaN,NaN,7500.0,60,NaN,...,TIEMPO_RUTA,NORMAL,9279492.0,NaN,NaN,NaN,USU|AppUsuario|Antes de asignacion,cl 57 j sur # 77 j - impar,NaN,LA UNIDAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3463851,49155288,NaN,162520.0,90,NaN,NaN,149407719109191076555,18000.0,60,CALENDULA,...,TIEMPO_DISTANCIA,NORMAL,1249428.0,1249428.0,149407719109191076555,NaN,NaN,NaN,Pago definido/preliquidado por 18000,CEDRO NARVAEZ
3463852,49155289,NaN,NaN,180,NaN,NaN,NaN,18600.0,60,NaN,...,TIEMPO_DISTANCIA,NORMAL,9547561.0,NaN,NaN,NaN,NaN,NaN,NaN,EL CAMPIN
3463853,49155290,NaN,NaN,180,NaN,NaN,NaN,13900.0,32,NaN,...,TIEMPO_DISTANCIA,NORMAL,9413564.0,NaN,NaN,NaN,NaN,NaN,NaN,CHIPICHAPE
3463854,49155291,NaN,NaN,180,NaN,NaN,NaN,NaN,60,NaN,...,TIEMPO_DISTANCIA,NORMAL,8891600.0,NaN,NaN,NaN,NaN,NaN,NaN,SAN PATRICIO
3463855,49155292,NaN,NaN,90,NaN,NaN,NaN,NaN,60,PARQUE DE OSTENDE,...,TIEMPO_DISTANCIA,NORMAL,3734462.0,3734462.0,NaN,NaN,NaN,NaN,NaN,EL TINTAL A.S.D.

In [65]:
file_name = '/media/cristian/Alpha/3_PROYECTOS/HACKATONS/TAXIS LIBRES/his_servicios.csv'
his_servicio_df.to_csv(file_name, encoding='utf-8', index= False)

In [67]:
top_persona_df

,id_persona,niv_escolaridad,per_fechanaci,per_sexo,est_idestaper,per_fecafilia
0,100000302713725000000,SECUNDARIA,1989-09-21,MASCULINO,SOLTERO,2021-02-08 12:24:23
1,100005439342914000000,SECUNDARIA,1985-06-02,MASCULINO,SOLTERO,2014-12-30 00:00:00
2,100012975567262000000,SECUNDARIA,1900-01-01,NaN,NaN,2012-11-27 00:00:00
3,100027951170637000000,SECUNDARIA,1983-04-07,MASCULINO,UNION LIBRE,2016-03-08 16:17:37
4,100039912992801000000,SECUNDARIA,1974-12-11,MASCULINO,CASADO,2008-02-02 00:00:00
...,...,...,...,...,...,...
15023,879433764434563000000,SECUNDARIA,1971-03-03,MASCULINO,CASADO,2013-06-26 00:00:00
15024,897515644434569000000,SECUNDARIA,1969-05-16,MASCULINO,CASADO,2009-09-15 00:00:00
15025,900472224432770000000,SECUNDARIA,1972-04-22,MASCULINO,CASADO,2007-08-06 00:00:00
15026,930334754432779000000,SECUNDARIA,1989-03-10,MASCULINO,UNION LIBRE,2017-08-27 16:06:26
15027,949870604434584000000,SECUNDARIA,1984-03-19,NaN,CASADO,2014-06-25 00:00:00

In [39]:
list(top_persona_df.columns)

['id_persona',
 'niv_escolaridad',
 'per_fechanaci',
 'per_sexo',
 'est_idestaper',
 'per_fecafilia']

In [66]:
for column in list(top_persona_df.columns):
    print('*'*30)
    print(column)
    print('-'*30)
    print(top_persona_df[column].describe())
    print('*'*30)

******************************
id_persona
------------------------------
count                     15028
unique                    15028
top       155113144845167000000
freq                          1
Name: id_persona, dtype: object
******************************
******************************
niv_escolaridad
------------------------------
count          15028
unique             8
top       SECUNDARIA
freq           13228
Name: niv_escolaridad, dtype: object
******************************
******************************
per_fechanaci
------------------------------
count          15028
unique          8590
top       1990-01-01
freq            2445
Name: per_fechanaci, dtype: object
******************************
******************************
per_sexo
------------------------------
count         12218
unique            4
top       MASCULINO
freq          11505
Name: per_sexo, dtype: object
******************************
******************************
est_idestaper
------------------------------
count               12444
unique                  5
top       CASADO
freq                 6077
Name: est_idestaper, dtype: object
******************************
******************************
per_fecafilia
------------------------------
count                   15028
unique                  11093
top       2015-05-04 00:00:00
freq                       21
Name: per_fecafilia, dtype: object
******************************